* {
  box-sizing: border-box;
}

body {
  background-color: #0c2744;
  color: aliceblue;
  font-family: monospace;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 10vh 80vh 10vh;
}

/* grid styles */

header {
  grid-area: 1 / 1 / 2 / 3;
  background-color: gainsboro;
  color: black;
}

#results {
  grid-area: 2 / 1 / 3 / 2;
  background-color: firebrick;
}

#main-container {
  grid-area: 2 / 2 / 3 /3;
  background-color: seagreen;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  grid-area: 3 / 1 / 4 / 3;
  background-color: #eabc28;
}

/* Main styles. */

#img-container {
  display: flex;
  justify-content: space-between;
}

#img-container img {
  max-width: 30%;
}
